<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>All Seats are taken.</h1>
        <h>SOLD OUT. Please select another movie.</h>
    </hgroup>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
